// _forms.scss

form {
	max-width: 420px;
	margin: 36px auto 24px;

	@include responsive-breakpoint(tablet) {
		display: flex;
		align-items: flex-start;
	}
}

input[type="email"] {
	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin-bottom: 10px;
	padding: 12px 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: $white;
	border: none;
	border-radius: 0;
	box-shadow: inset 0px 0px 0px $yellow;
	font: 400 16px/1 'Source Code Pro', monospace;
	color: $blue;
	transition: color 200ms ease-in-out, 
							box-shadow 200ms ease-in-out;

	&:focus {
		color: $dark_blue;
		outline: 0;
		box-shadow: inset 3px 0px 0px $yellow;
	}
}

.button {
	display: inline-block;
	vertical-align: top;
	width: auto;
	height:  48px;
	padding: 14px 24px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: $yellow;
	border-radius: 0;
	font: 700 16px/1 'Source Code Pro', monospace;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	color: $dark_blue;
	cursor: pointer;
	transform: translateZ(0) translate3d(0, 0, 0);
	transition: color 200ms ease-in-out, 
							background 200ms ease-in-out,
							border-color 200ms ease-in-out;

	&:hover,
	&:focus {
		background-color: $dark_yellow;
		outline: 0;
	}

	@include responsive-breakpoint(tablet) {
		margin-left: 12px;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $blue;
}

::-moz-placeholder { /* Firefox 19+ */
	color: $blue;
}

:-ms-input-placeholder { /* IE 10+ */
	color: $blue;
}

:-moz-placeholder { /* Firefox 18- */
	color: $blue;
}